<%= turbo_frame_tag @user do %>
  <div class="container text-white pt-3">
    <div class="row">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <div class="row pb-3 align-items-center">
            <% if @user.profile_picture.attached? && @user.profile_picture.representable? %>
                <div class="col flex-grow-0">
                  <%= image_tag(@user.profile_picture, :size => '100x100', class: 'rounded-circle') %>
                </div>
                <%#<div class="col">
                  <div class="upload-hider-labels">
                    <%# <div class="row">
                      <div class="col">
                        <%= link_to 'Remove Image without replacing (not currently functional)',
                                    delete_image_profile_path(image_id: @user.profile_picture.id, id: @user.id),
                                    data: {turbo_method: :delete, turbo_confirm: "Are yuo sure?"},
                                    class: 'remove-upload btn btn-danger' 
                        %> 
                    <%# </div>
                    </div> %>
                <%# </div>            
                </div>%>
              <% else %>
                <div class="profile-picture no-profile-picture rounded-circle"></div>
              <% end %>       
            <div class="upload-hider-fields col">
              <div class="row">
                <div class="col pb-2">
                  Upload a Profile Picture
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <%= f.file_field :profile_picture, class: 'form-control w-25' %>                
                </div>
              </div>

            </div>
          </div>
        </div>        
        <div class="row pb-3">
          <div class="col">
            <div class="field">
              <%= f.label :first_name %><br />
              <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
            </div>
          </div>
          <div class="col">
            <div class="field">
              <%= f.label :last_name %><br />
              <%= f.text_field :last_name, autocomplete: "last_name" %>
            </div>      
          </div>
        </div>
        <div class="row pb-3">
          <div class="col">
            <div class="field">
              <%= f.label :username %><br />
              <%= f.text_field :username, autocomplete: "username" %>
            </div>      
          </div>
          <div class="col">
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autocomplete: "email" %>
            </div>      
          </div>
        </div>
        <div class="row pb-3">
          <div class="col">
            <div class="field">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>      
          </div>
          <div class="col">
            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>      
          </div>
        </div>
        <div class="row pb-3">
          <div class="col">
            <div class="field">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "current-password" %>
            </div>      
          </div>
        </div>
        <div class="row pb-3">
          <div class="col">
            <div class="actions">
              <%= f.submit "Update", class: 'btn btn-success' %>
            </div>     
          </div>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      <% end %>  
    </div>
    <div class="row">
      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    </div>
    <%= link_to "Back", :back, class: "text-white" %>
  </div>
<% end %>