<div id="<%= dom_id friendship %>">
  <p>
    <strong>User:</strong>
    <%= friendship.user_id %>
  </p>

  <p>
    <strong>Friend:</strong>
    <%= friendship.friend_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= friendship.status %>
  </p>

  <p>
    <strong>Create:</strong>
    <%= friendship.create %>
  </p>

  <p>
    <strong>Destroy:</strong>
    <%= friendship.destroy %>
  </p>

</div>
