<p style="color: green"><%= notice %></p>

<% if current_user == @user%>
  <div class="row">
    <div class="col">
      <h2 class="text-white">My Friends</h2>
      <% @accepted_friendships.each do |friend| %>
        <div class="row align-items-center">
          <div class="col">
            <%= render partial: 'friendship', locals: {user: friend.friend} %>
          </div>
          <div class="col flex-grow-0 pe-5">
            <%= button_to "Delete Friend", friendship_path(user_id: friend.user_id, friend_id: friend.friend_id), method: :delete, class: "btn text-white btn-danger text-nowrap" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col">
      <h2 class="text-white">Friend Requests</h2>
      <% @friend_requests.each do |friend| %>
        <div class="row align-items-center">
          <div class="col">
            <%= render partial: 'friendship', locals: {user: friend.user} %>
          </div>
          <div class="col flex-grow-0 pe-5">
            <%= button_to "Accept Request", friendship_path(user_id: friend.user_id, friend_id: friend.friend_id), method: :patch, class: "btn text-white btn-success text-nowrap" %>
            <%= button_to "Decline Request", friendship_path(user_id: friend.user_id, friend_id: friend.friend_id), method: :delete, class: "btn text-white btn-danger text-nowrap" %>
          </div>
          <div class="col flex-grow-0 pe-5">
          </div>
        </div>
      <% end %>
    </div>
    <div class="col">
      <h2 class="text-white">Friends Requested</h2>
      <% @requested_friends.each do |friend| %>
        <div class="row align-items-center">
          <div class="col">
            <%= render partial: 'friendship', locals: {user: friend.friend} %>
          </div>
          <div class="col flex-grow-0 pe-5">
            <%= button_to "Delete Request", friendship_path(user_id: friend.user_id, friend_id: friend.friend_id), method: :delete, class: "btn text-white btn-danger text-nowrap" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col">
      <h2 class="text-white"><%= @user.full_name %>'s Friends</h2>
      <% @accepted_friendships.each do |friend| %>
        <div class="row align-items-center">
          <div class="col">
            <%= render partial: 'friendship', locals: {user: friend.friend} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
