<div class="container">
  <div class="row align-items-center d-flex pt-2">
    <div class="col flex-grow-0">
      <% if post.user.profile_picture.attached? && post.user.profile_picture.representable?%>
        <%= link_to image_tag(post.user.profile_picture, :size => '50x50', class: "rounded-circle"), profile_url(id: post.user.id) %>
      <% else %>
        <%= link_to image_tag('account-circle-outline.svg', :size => '50x50', class: "rounded-circle"), profile_url(id: post.user.id) %>
      <% end %>
    </div>
    <div class="col">
      <div class="align-self-bottom">
        <%= link_to post.user.full_name, profile_url(id: post.user.id), class: "btn text-black" %>
      </div>
    </div>
  </div>
  <div class="row">
    <h3><%= post.title %></h2>
  </div>
  <div class="row">
    <p><%= post.content %></p>
  </div>
  <div class="row">
    <%= form_with(model: [post, post.comments.build]) do |f| %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :post_id, :vlaue => post.id %>
      <div class="col">
        <div class="form-group pb-3">
          <%= f.text_field :content, class: 'form-control', placeholder: 'Write a comment...' %>
        </div>
      </div>
      <div class="col">
        <%= f.submit "Save", class: 'btn btn-success' %>  
      </div>
    <% end %>
  </div>
  <div class="row">
    <% unless post.comments.empty? %>
      <%= render post.comments.scope %>
    <% end %>
  </div>
</div>



